{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}

    <h1>Münster:parkme</h1>
    <div class="row">
        <div class="col-md-8" id="map"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kTu9s6EBOaUXPB4rt24e2RGSmuEuFSw"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}