{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div class="row oben">
        <div class="col-md-8" id="map"></div>
        <div class="col-md-4 tabelle">
            <h3>Meldungen</h3>
            <table class="table table-stripped">
                <thead>
                    <tr><th>Parkplatz</th><th>Nr</th><th>Verstoß</th></tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Parkverbot Baustelle Hafenweg</td>
                        <td>23</td>
                        <td>Zeitüberschreitung (2h 12min)</td>
                    </tr>
                    <tr>
                        <td>Schlossplatz Süd</td>
                        <td>12</td>
                        <td>Zeitüberschreitung (50min)</td>
                    </tr>
                    <tr>
                        <td>Aegidiimarkt 1-7</td>
                        <td>10</td>
                        <td>im Parkverbot</td>
                    </tr>
                    <tr>
                        <td><a>Ritterstraße 38</td>
                        <td>5</td>
                        <td>im Parkverbot</td>
                    </tr>
                    <tr>
                        <td><a>Parkhaus Stadttheater Münster</a></td>
                        <td>44</td>
                        <td>Zeitüberschreitung (1h 20min)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="abschnitt">
                akt. Auslastung: <br>
                <p class="wert">
                    <span id="workload" class="big-number">75</span>%
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abschnitt">
                Falschparker aktuell: <br>
                <p class="wert">
                    <span id="wrong-parking" class="big-number">5</span>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="abschnitt">
                Einnahmen durch Falschparker: <br>
                <p class="wert">
                    <span id="income" class="big-number">85</span>€
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/@google/markerclustererplus@5.1.0/dist/markerclustererplus.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7kTu9s6EBOaUXPB4rt24e2RGSmuEuFSw"></script>
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}
